<div class="bg-dark text-white">
	<section class="container">
		<div>
			<h2 class="text-center">{{ title }}</h2>
		</div>

		<div class="py-3">
			<form action="#" class="form-group row">
				<div class="form-group col-md-3 mb-2">
					<label for="firstname">Nombre</label>
					<input
						type="text"
						name="firstname"
						id="firstname"
						class="form-control text-white bg-dark"
						placeholder="Nombre..."
						[(ngModel)]="firstname"
					/>
				</div>

				<div class="form-group col-md-3 mb-2">
					<label for="surname">Apellidos</label>
					<input
						type="text"
						name="surname"
						id="surname"
						class="form-control text-white bg-dark"
						placeholder="Apellidos..."
						[(ngModel)]="surname"
					/>
				</div>

				<div class="form-group col-md-3 mb-2">
					<label for="email">Correo</label>
					<input
						type="text"
						name="email"
						id="email"
						class="form-control text-white bg-dark"
						placeholder="Correo..."
						[(ngModel)]="email"
					/>
				</div>

				<div class="form-group col-md-3 mb-2">
					<label for="phoneNumber">Teléfono</label>
					<input
						type="tel"
						name="phoneNumber"
						id="phoneNumber"
						class="form-control text-white bg-dark"
						minlength="9"
						maxlength="9"
						placeholder="999 999 999"
						[(ngModel)]="phoneNumber"
					/>
				</div>

				<div class="form-group col-md-3 mb-2">
					<button type="submit" class="btn btn-primary" (click)="saveContact()">
						Guardar
					</button>
				</div>
			</form>
		</div>
	</section>

	<!-- List -->

	<div class="container">
		<app-contact [contacts]="contacts"></app-contact>
	</div>
</div>
